{{ define "main" }}
<div class="max-w-3xl mx-auto">
  <header class="mb-10 text-center">
    <h1 class="text-3xl sm:text-4xl font-extrabold tracking-tight mb-4">{{ .Title }}</h1>
    {{ if eq .Type "posts" }}
      <div class="text-sm text-gray-500 uppercase tracking-widest font-semibold flex justify-center items-center gap-2">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        <span>&bull;</span>
        <span>{{ .WordCount }} words</span>
      </div>
    {{ end }}
  </header>

  <article class="prose prose-slate lg:prose-lg mx-auto">
    {{ .Content }}
  </article>
</div>
{{ end }}
